<a href="https://colab.research.google.com/github/RomanoDS/DSNP/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List
Lists are sequence of values, where each value is identified by an index regarding their position. The variable type of lists is `list`, and you will see how extremely useful they are for data manipulation

Important detail, the list are changeable, compose of diferent values, called elements or items, and may or may not be at diferent types

To create a list, we will use the brackets `[]`.

In [1]:
# create a list
initial_list = []
print(initial_list)
print(type(initial_list))

[]
<class 'list'>

We can insert items of diferent types inside in the same list.

In [2]:
# create a list with items
initial_list = ['Data', 'Science', 2021, True]
print(initial_list)

['Data', 'Science', 2021, True]

#### Acessing an element

At last chunck above, we create a List `initial_list = ['Data', 'Science', 2021, True]`.

To acess any element in this list, we need indicate which index refer to the position of the same one. Remeber that the first element contain an indexing equal $0$!

| "Data" | "Science" | 2021 | True |
|----------|--------|-------|------|
| 0        | 1      | 2     | 3    |
| \-4      | \-3    | \-2   | \-1  |

Python also allows you to access elements from the last one,  just using the $-1$ for the last square and subtract 1 for the previous positions.

In [4]:
# access the element 'Data'
print(initial_list[0])

Data

In [6]:
# access the penultimate element
print(initial_list[-1])

True

In [7]:
# error at try to access a value that is not in range of the list
print(initial_list[6])

IndexError: ignored

#### Slicing of Lists
The same way that we can "slicing" an string, its possible slicing an list. In this case, slicing a list means access items inside the considered interval.

| "Elon" | "Student" | 222\.50 | 433\.80 | 591\.66 | 124\.20 |
|-----------|-------------|---------|---------|---------|---------|
| 0         | 1           | 2       | 3       | 4       | 5       |
| \-6       | \-5         | \-4     | \-3     | \-2     | \-1     |


Let´s see how this works on practice, creating and slicing a list.

In [8]:
# quarterly spendings
client = ['Elon', 'Student', 222.50, 433.80, 591.66, 124.20]

In [10]:
# access the last four colums
client[2:]

[222.5, 433.8, 591.66, 124.2]

#### Cheking if an item belongs to the list

It is possible to check whether a particular item is in a list or not. That´s can be done using `in` or `not in`, which will return a boolean response.

In [11]:
# create a guests list
guests = ['Alberto', 'Julia', 'Ricardo', 'Marie', 'Joe']

In [12]:
# Searching if Julia is among the guests
'Julia' in guests

True

In [13]:
# Confirm that Richard was not invited
'Richard' not in guests

True

#### Change an item on my list

Since the list as imutable, it is possible to access an index and change the its contents

In [19]:
# stock portfolio
portfolio = ['NVDA', 'ROKU', 'ETSY']
print(portfolio)

['NVDA', 'ROKU', 'ETSY']

In [23]:
# change 'ROKU' to 'AAPL'
portfolio[1]= 'AAPL'
print(portfolio)

['NVDA', 'AAPL', 'ETSY']

#### Add and Excluiding Items of Lists
To add items to the end of the list, you can use the method `append()`.

To delete an item, either the `pop()` method or the `remove()` method can be used. The diference between these two methods is what while the first recive the item position as an argument, the second, consider the own value of the item.

In [28]:
# Add 'Ronda' to the list
guests = ['Alberto', 'Julia', 'Ricardo', 'Marie', 'Joe']

guests.append('Ronda')
print(guests)

['Alberto', 'Julia', 'Ricardo', 'Marie', 'Joe', 'Ronda']

In [29]:
# exclude the second guest of the list

guests.pop(1)
print(guests)

['Alberto', 'Ricardo', 'Marie', 'Joe', 'Ronda']

In [30]:
# exclude "Joe" from the guests

guests.remove('Joe')
print(guests)

['Alberto', 'Ricardo', 'Marie', 'Ronda']